<h1>Poster un article</h1>
<h1>Register</h1>
	<form action="/postArticle" method="POST">
		<div>
			<label for="titre">Titre</label>
			<input type="text" id="titre" name="titre">
		</div>
		<div>
			<label for="contenu">Contenu</label>
			<input type="textfield" id="contenu" name="contenu">
		</div>
       
		<button type="submit">Poster</button>
	</form>
	<a href="/allArticles">Retour</a>
