<h1>Poster un article</h1>
{% if article.idProfil == user %}
	<form action="/editArticle/{{article.idArticle}}" method="POST">
		<div>
			<label for="titre">Titre</label>
			<input type="text" id="titre" name="titre" value="{{article.titre}}">
		</div>
		<div>
			<label for="contenu">Contenu</label>
			<input type="textfield" id="contenu" name="contenu" value="{{article.contenu}}">
		</div>

		<input type="hidden" id="articleId" name="articleId" value={{article.idArticle}}>

		<button type="submit">Poster</button>
	</form>
{% else %}
	Vous n'avez pas la permission de modifier cet article.
{% endif %}
<a href="/allArticles">Retour</a>
