{% from "general/bouton-post.twig" import bouton_post %}

{% macro navigation(utilisateur) %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">JavaScript MVC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre-navigation-contenu" aria-controls="barre-navigation-contenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="barre-navigation-contenu">
    {% if utilisateur %} 
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{ bouton_post("/", "vue", "publication", "Publicatons", "nav-link" ) }}
      </li>
    </ul>
    <div id="pseudonyme" class="text-light m-1">{{utilisateur.pseudonyme}}</div>
    <form class="form-inline my-2 my-lg-0" action="/session" method="post">
      <input type="hidden" name="deconnexion" value="true">
      <button title="logout" type="submit" class="btn btn-sm btn-danger m-1">Déconnexion</button>
    </form>
    {% endif %}
  </div>
</nav>
{% endmacro %}