{% from "fragments/bouton_post.twig" import bouton_post %}

{% macro navigation(proprietes) %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">JavaScript MVC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barre-navigation-contenu" aria-controls="barre-navigation-contenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="barre-navigation-contenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/fil" class="nav-link">Fil d'actualités</a>
      </li>
    </ul>
    <div class="text-light m-1">{{ proprietes.session.utilisateur.pseudonyme }}</div>
    {# {{ bouton_post("/connexion", "action", "deconnexion", "Deconnexion", "btn btn-sm btn-danger m-1" ) }} #}
  </div>
</nav>
{% endmacro %}