{% extends "layout.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('admin_produit_edit') }}">
            <legend>Modifier un produit</legend>

            {{ include('admin/produit/_formProduit.html.twig', {button: 'Modifier'}) }}

        </form>
    </div>
{% endblock %}