{% macro fil_publier(proprietes) %}
<div class="container">
  <div class="row">
    <div class="col-12  my-2">
      <form action="/publication" method="post">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" class="form-control" id="titre" placeholder="Titre" />
        </div>
        <div class="form-group">
          <label for="contenu">Contenu</label>
          <textarea type="text" class="form-control" id="contenu" placeholder="Contenu"></textarea>
        </div>
        <input type="hidden" name="action" value="creer-article">
        <button class="btn btn-primary" type="submit">Publier</button>
        <a class="btn btn-secondary" href="/fil">Retour</a>
      </form>
    </div>
  </div>
</div>
{% endmacro %}